*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  /* 10px == 1rem */
  font-size: 62.5%; 
}

#App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gainsboro;
}

.container {
  display: flex;
  justify-content: center;
}

.container > p {
  font-size: 1.6rem;
  font-family: sans-serif;
  font-weight: 100;
}